.iframe_container {
    position: relative;
    padding-bottom : 56.25%;
    width: 100%;
    height: 0;
}
/* iframe */
iframe {
    position: absolute;
    top: 0;
    left: 10px;
    width: 90%;
    height: 90%;
}

.scrollmenu {
    position: fixed;
    height: 90%;
    overflow: scroll;
}

.contentView {
    position: fixed;
    left: 155px;
    padding-right: 160px;
    width: 100%;
    height: 90%;
    overflow: scroll;
    overflow-wrap: break-word;
}